/* --------------------------------------- */
/* ---------- Typography System ---------- */
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px
*/
/* ---------- Typography System ---------- */
/* --------------------------------------- */

/* ---------------------------- */
/* ---------- Colors ---------- */
/*
- Primary:
    #2E9CCA

- Accents:

- Tints:

- Shades: 

- Greys
    #AAABB8
    #EFEFEF
    #FFFFFF
*/
/* ---------- Colors ---------- */
/* ---------------------------- */

/* ----------------------------- */
/* ---------- Shadows ---------- */
/*
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
*/
/* ---------- Shadows ---------- */
/* ----------------------------- */

/* ----------------------------------- */
/* ---------- Border Radius ---------- */
/*
Default: 9px
Medium: 11px
*/
/* ---------- Border Radius ---------- */
/* ----------------------------------- */

/* -------------------------------- */
/* ---------- Whitespace ---------- */
/*
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* ---------- Whitespace ---------- */
/* -------------------------------- */

/* --------------------------- */
/* ---------- Fonts ---------- */
@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-RegularItalic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-Medium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-MediumItalic.otf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
/* ---------- Fonts ---------- */
/* ---------------------------- */

/* ----------------------------- */
/* ---------- General ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #25274d;
  font-family: "metropolis", sans-serif;
  font-weight: 400;
  line-height: 1;
}
/* ---------- General ---------- */
/* ----------------------------- */

/* ------------------------------ */
/* ---------- Reusable ---------- */
.grid {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 4.8rem;
}
.grid-column--2 {
  grid-template-columns: repeat(2, 1fr);
}

.fixed-container--1180 {
  max-width: 118rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
/* ---------- Reusable ---------- */
/* ------------------------------ */
