/* --------------------------------------- */
/* ---------- Typography System ---------- */
/*
- Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

- Line heights
    Default: 1
    1.1
    1.6
    2

- Letter spacing
    N/A
*/
/* ---------- Typography System ---------- */
/* --------------------------------------- */

/* ---------------------------- */
/* ---------- Colors ---------- */
/*
- Primary:
    #2E9CCA

- Accents:
    N/A

- Tints:
    #AAABB8
    #EFEFEF
    #FFFFFF

- Shades:
    #226089
    #29648a
    #464866
    #aaabb84d

- Greys
    #25274d
*/
/* ---------- Colors ---------- */
/* ---------------------------- */

/* ----------------------------- */
/* ---------- Shadows ---------- */
/*
    0 1.2rem 2.4rem rgba(0, 0, 0, 0.1)
*/
/* ---------- Shadows ---------- */
/* ----------------------------- */

/* ----------------------------------- */
/* ---------- Border Radius ---------- */
/*
    Default: 20px
*/
/* ---------- Border Radius ---------- */
/* ----------------------------------- */

/* -------------------------------- */
/* ---------- Whitespace ---------- */
/*
    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* ---------- Whitespace ---------- */
/* -------------------------------- */

/* --------------------------- */
/* ---------- Fonts ---------- */
@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-RegularItalic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-Medium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-MediumItalic.otf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "metropolis";
  src: url("../font/Metropolis-Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "niobium";
  src: url("../font/NIOBRG__.TTF");
  font-style: normal;
  font-weight: 400;
}
/* ---------- Fonts ---------- */
/* ---------------------------- */

/* ----------------------------- */
/* ---------- General ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #25274d;
  font-family: "metropolis", sans-serif;
  font-weight: 400;
  line-height: 1;
}
/* ---------- General ---------- */
/* ----------------------------- */

/* ------------------------------ */
/* ---------- Reusable ---------- */
.grid {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}
.grid-column--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-column--3 {
  grid-template-columns: repeat(3, 1fr);
}

.fixed-container--1180 {
  max-width: 118rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.fixed-container--980 {
  max-width: 98rem !important;
  margin-left: auto;
  margin-right: auto;
}
.fixed-container--780 {
  max-width: 78rem !important;
  margin-left: auto;
  margin-right: auto;
}

.padding--48-0 {
  padding-top: 4.8rem !important;
  padding-bottom: 4.8rem !important;
}
/* ---------- Reusable ---------- */
/* ------------------------------ */

/* ------------------------------- */
/* ---------- Scrollbar ---------- */
body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  margin-block: 0.2rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #2e9cca;
  border: 2px solid #fff;
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #226089;
}
/* ---------- Scrollbar ---------- */
/* ------------------------------- */
