/* ----------------------------------- */
/* ---------- Below: 1280px ---------- */
@media (max-width: 80em) {
  /* Work */
  .work_container {
    gap: 8rem;
  }
  .work_text-box {
    gap: 1.2rem;
  }

  /* About */
  .about_container {
    grid-template-columns: 1fr;
  }
  .about_image-box {
    display: none;
  }
  .about_description-box {
    max-width: 78rem;
    margin-left: auto;
    margin-right: auto;
  }
  .about_testimonial-box {
    max-width: 100%;
  }
}
/* ---------- Below: 1280px ---------- */
/* ----------------------------------- */

/* ----------------------------------- */
/* ---------- Below: 1179px ---------- */
@media (max-width: 73.6875em) {
  html {
    font-size: 56.25%;
  }
}
/* ---------- Below: 1179px ---------- */
/* ----------------------------------- */

/* ---------------------------------- */
/* ---------- Below: 776px ---------- */
@media (max-width: 48.5em) {
  /* Header */
  .header_column--2 {
    z-index: 100;
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .header_lists {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header_menu-open .header_column--2 {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .header_link:link,
  .header_link:visited {
    font-size: 2.4rem;
  }
  .header_menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .padding--32-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  /* About */
  .about_container {
    padding-bottom: 4.8rem !important;
  }
}
/* ---------- Below: 776px ---------- */
/* ---------------------------------- */

/* ---------------------------------- */
/* ---------- Below: 599px ---------- */
@media (max-width: 37.4375em) {
  /* Gallery */
  .gallery_container {
    grid-template-columns: 1fr;
  }

  /* Single */
  .single_details-box {
    grid-template-columns: 1fr 1fr;
  }
}
/* ---------- Below: 599px ---------- */
/* ---------------------------------- */

/* ---------------------------------- */
/* ---------- Below: 480px ---------- */
@media (max-width: 30em) {
  /* Header */
  .header_text-box {
    display: none;
  }

  /* Single */
  .single_details-box {
    grid-template-columns: 1fr;
  }
  .single_text-info {
    grid-row: 5;
  }

  /* Work */
  .work_text-primary {
    word-break: break-all;
  }
  .work_text-box {
    align-items: start;
  }
  .work_social-box {
    align-items: start;
    gap: 2rem;
  }
  .work_heading-primary {
    font-size: 4.4rem;
  }
  .work_text-primary {
    font-size: 2.4rem;
  }
  .work_heading-secondary {
    font-size: 1.8rem;
  }
}
/* ---------- Below: 480px ---------- */
/* ---------------------------------- */

/* ---------------------------------- */
/* ---------- Below: 378px ---------- */
@media (max-width: 23.625em) {
  /* Header */
  .work_container {
    height: calc(100vh - 37.4rem);
  }
}
/* ---------- Below: 480px ---------- */
/* ---------------------------------- */
